.page.theme_light {
  --font-main: "IBM Plex Mono", "Raleway", Arial, sans-serif;
  --font-weight-title: 700;
  --font-weight-text: 400;
  --font-size-text: 18px;
  --font-size-mobailtitle: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktoptitle: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-style-normal: normal;
  --color-button: #353430;
  --color-title-main: #FFC2E6;
  --color-title-shadow: #FF8DCB;
  --color-title-shadow-big: #ff0070;
  --color-title-section: #353430;
  --color-decor-element: #353430;
  --color-decor: #FF8DCB;
  --color-title: #353430;
  --color-text: #353430;
  --color-button-active: #353430;
  --color-focus: #353430;
  --color-focus-text: #353430;
  --color-hover: rgba(50, 49, 45, 0.40);
  --color-hover-text: rgba(50, 49, 45, 0.40);
  --bg-img: url(../images/cover-image-light.png);
  --hidden: hidden;
}

@media (prefers-color-scheme:light) {
  :root {
    --font-main: "IBM Plex Mono", "Raleway", Arial, sans-serif;
    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-size-text: 18px;
    --font-size-mobailtitle: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-desktoptitle: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-style-normal: normal;
    --color-button: #353430;
    --color-title-main: #FFC2E6;
    --color-title-shadow: #FF8DCB;
    --color-title-shadow-big: #ff0070;
    --color-title-section: #353430;
    --color-decor-element: #353430;
    --color-decor: #FF8DCB;
    --color-title: #353430;
    --color-text: #353430;
    --color-button-active: #353430;
    --color-focus: #353430;
    --color-focus-text: #353430;
    --color-hover: rgba(50, 49, 45, 0.40);
    --color-hover-text: rgba(50, 49, 45, 0.40);
    --bg-img: url(../images/cover-image-light.png);
    --hidden: hidden;
  }

  .header__decorated {
    visibility: var(--hidden);
  }
}
